/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f8ff;
    color: black;
    padding: 20px;
  }
  
  /* Cabeçalho */
  header {
    background-color: olive;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  header p {
    font-size: 1.1rem;
  }
  
  /* Navegação */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #388e3c;
  }
  
  /* Seções */
  section {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
  }
  
  section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
    border-radius: 10px;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    color: black;
  }
  